@import 'variables';

#about {
  padding: 145rem 0;
}

@media (max-width: 920px) {
  #about {
    padding: 0;
  }
}


@media (max-width: 920px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}

.about-logo {
  width: 704rem;
  height: 688rem;
  margin-right: 160rem;
  border-radius: 10%;
  @media (max-width: 920px) {
    width: 100%;
    height: auto;
  }
}

.about-info {
  max-width: 640rem;
  @media (max-width: 920px) {
    h2 {
      font-size: 25rem;
      padding: 20rem 10rem;
      line-height: 26rem;
    }
  }

  & p {
    color: $text-color-3;
    font: 400 18rem 'Kollektif', sans-serif;
    line-height: 36rem; /* 200% */
    padding-top: 50rem;
  }

  @media (max-width: 920px) {
    p {
      font: 400 18rem 'Kollektif', sans-serif;
      line-height: 25rem; /* 200% */
      padding: 0 10rem 50rem 10rem;
    }
  }

  & a {
    color: $text-color-2;
    font: 700 10rem 'Kollektif', sans-serif;
    text-align: center;
    border-bottom: 2px solid $text-color-2;
    padding-bottom: 5rem;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }

  & button {
    margin-top: 60rem;
    margin-right: 47rem;
  }
}

