@import 'variables';

.team-logo {
  margin-bottom: 20rem;
  margin-top: 35rem;

  & img {
    max-width: 520rem;
    min-height: 250rem;
    box-shadow: 10rem 8rem #5BA3BBaa;
    @media (max-width: 920px) {
      width: 100%;
      height: auto;
      box-shadow: 0 0 0;
      border-radius: 10%;
    }
  }
}

.team-info {
  margin-left: 223rem;
  max-width: 640rem;
  @media (max-width: 920px) {
    margin: 0;
  }

  & h2 {
    color: #282828;
    font: 700 64rem 'Kollektif', sans-serif;
    letter-spacing: -0.64rem;
    @media  (max-width: 920px) {
      display: none;
      font-size: 24rem;
      line-height: 25rem;
      padding: 10rem 10rem;
    }
  }

  & p {
    color: #A7ADAF;
    font: 400 18rem 'Kollektif', sans-serif;
    line-height: 36px; /* 200% */
    max-width: 560rem;
    margin-top: 40rem;
    margin-bottom: 70rem;
    @media (max-width: 920px) {
      line-height: 25rem; /* 200% */
      padding: 10rem 10rem;
      margin: 0;
    }
  }
}

.team-title {
  font: 700 26rem 'Kollektif', sans-serif;
  line-height: 35rem;
  padding: 10rem 20rem;
  @media (max-width: 920px) {
    font: 700 36rem 'Kollektif', sans-serif;
  }
}

span {
  color: $text-color-2;
}

.team-logo2 {
  margin-left: 160rem;
  margin-bottom: 20rem;
  border-radius: 20%;


  & img {
    max-width: 500rem;
    min-height: 250rem;
    box-shadow: 10rem 8rem #5BA3BBaa;
    @media (max-width: 920px) {
      width: 330rem;
      height: auto;
      box-shadow: 0 0 0;
      border-radius: 10%;
    }
  }
}

.team-logo3 {
  margin-bottom: 35rem;

  & img {
    max-width: 460rem;
    min-height: 250rem;
    box-shadow: 10rem 8rem #5BA3BBaa;
    @media (max-width: 920px) {
      width: 100%;
      height: auto;
      box-shadow: 0 0 0;
      border-radius: 10%;
    }
  }
}

@media (max-width: 920px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 920px) {
  #team  {
    display: flex;
    flex-wrap: wrap;
  }
}


.team {
  padding-bottom: 100rem;
}


@media (max-width: 920px) {
  .team-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}


.main-title-ua {
  @media (max-width: 920px) {
    height: 125rem;
  }
}
